<% layout("layouts/boilerplate.ejs") %>

    <body>
        <h3>Enter your detail</h3>
        <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="row">
                <div class="col-8 offset-2">
                    <div class="mb-3">
                        <label for="title" class="form-lable">Title</label>
                        <input type="text" name="listing[title]" placeholder="Enter your Title" class="form-control" required>
                        <div class="valid-feedback">
                           Title Looks good!
                          </div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-lable">Description</label>
                        <textarea name="listing[description]" rows="5" class="form-control" required></textarea>
                        <div class="invalid-feedback">
                           Description should be valid
                          </div>
                    </div>
                    <!-- <div class="mb-3">
                        <label for="img" for="form-lable">Image URL/Link</label>
                        <input name="listing[image][url]" placeholder="enter the img URL/Link" class="form-control">
                    </div> -->   
                    <div class="mb-3">
                        <label for="img" for="form-lable">Uploade listing Image</label>
                        <input name="listing[image][url]" type="file" class="form-control" required>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-lable">Price</label>
                            <input type="number" name="listing[price]" placeholder="Enter your price"
                                class="form-control" required>
                                <div class="invalid-feedback">
                           Description should be valid
                          </div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="location" class="form-lable">Location</label>
                            <input type="text" name="listing[location]" placeholder="Enter your location"
                                class="form-control" required>
                                <div class="invalid-feedback">
                                    Price should be valid
                                   </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="country" class="form-lable">Country</label>
                        <input type="text" name="listing[country]" placeholder="Enter your country"
                            class="form-control" required>
                            <div class="invalid-feedback">
                                country should be valid
                               </div>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-dark add-btn">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </body>

    </html>